<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>고객센터</title>
    <link href="/css/main/header.css" rel="stylesheet" type="text/css">
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/main/nav.css" rel="stylesheet" type="text/css">
    <link href="/css/main/customer.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.js"></script>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <script src="/js/main/header.js"></script>
    <script src="/js/main/nav2.js"></script>
    <script src="/js/main/board.js"></script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
<header th:replace="main/layout/header :: main_headerFragment">
</header>
<!-- board seach area -->

<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3 class="font-weight-bold">고객센터</h3>
        </div>
    </div>

    <div id="board-search">
        <div class="container">
            <div class="search-window">
                <form method="get" th:action="@{/}">
                    <div class="search-wrap">
                        <label class="blind" for="search">공지사항 내용 검색</label>
                        <input id="search" name="q" placeholder="검색어를 입력해주세요." th:value="${param.q}"
                               type="search"/>
                        <button class="btn btn-dark" type="submit">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th class="th-num" scope="col">번호</th>
                    <th class="th-title" scope="col">제목</th>
                    <th class="th-title" scope="col">작성자</th>
                    <th class="th-date" scope="col">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notice : ${notices}">
                    <td style="color: red;">공지사항</td>
                    <td>
                        <a class="cs-detail" th:href="@{'/main/cs/detail/' + ${notice.id}}">
                            <i class="bi bi-megaphone-fill"></i>
                            <span th:text="${notice.title}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${notice.user.name}"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(notice.createTime, 'yyyy.MM.dd')}"></span>
                    </td>
                </tr>

                <tr th:each="board : ${boards.content}">
                    <td th:text="${board.id}"></td>
                    <td>
                        <a class="cs-detail" th:href="@{'/main/cs/detail/' + ${board.id}}">
                            <i class="bi" th:class="${board.secret eq 1} ? 'bi-lock-fill' : 'bi-not-locked'"></i>
                            <span th:text="${board.title}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${board.user.name}"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(board.createTime, 'yyyy.MM.dd')}"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- 페이지네이션 -->
            <div style="text-align: center">
                <div class="pagination">

                    <div style="width: 35%; margin: 5px;"
                         th:classappend="${boards.first ? 'hidden' : ''}">
                        <a class="abutton" th:href="@{/user/cs?page=0}">first</a>
                        <a class="abutton"
                           th:href="@{${'/main/cs?page=' + (boards.number - 1)}}">◀</a>
                    </div>

                    <div style="width: 30%; margin: 5px;">
                        <span th:each="num : ${pageNums}">
                            <span class="" th:classappend="${num == boards.number ? 'selected' : ''}">
                                <a style="font-weight: bold; font-size: 18px;"
                                   th:href="@{${'/main/cs?page=' + num}}" th:text="${num + 1}"></a>
                            </span>
                        </span>
                    </div>

                    <div style="width: 35%; margin: 5px;"
                         th:classappend="${boards.last ? 'hidden' : ''}">
                        <a class="abutton"
                           th:href="@{${'/main/cs?page=' + (boards.number + 1)}}">▶</a>
                        <a class="abutton"
                           th:href="@{${'/main/cs?page=' + (boards.totalPages - 1)}}">last</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="write-button-container">
        <button class="btn enlarged" id="btn-write"
                th:classappend="${principal == null ? 'isNotMine' : (principal.username == null ? 'isNotMine' : 'isMine')}">
            글쓰기
        </button>
        <button class="btn enlarged" id="btn-chat" th:attr="data-userId = ${user}" type="button">
            채팅상담
        </button>
    </div>


</section>
<nav th:replace="main/layout/nav :: main_navFragment">
</nav>

<!--footer-->
<footer th:replace="main/layout/footer :: main_footerFragment">
</footer>
</body>
</html>
