<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/main/header.css" rel="stylesheet" type="text/css">
    <link href="/css/main/nav.css" rel="stylesheet" type="text/css">
    <link href="/css/main/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/main/login.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" rel="stylesheet">
    <title>login</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main/header.js"></script>
    <script src="/js/main/nav2.js"></script>
    <script src="/js/main/login.js"></script>

</head>
<body>
<div sec:authorize="isAuthenticated()" style="display:none;"></div>
<!--header start-->
<header th:replace="main/layout/header :: main_headerFragment">
</header>
<!--header end-->

<!--section-->
<section>
    <!-- 로그인 되어있는 상태에서 로그인 페이지 들어오면 튕겨내기 위함-->
    <input id="loginTrue" sec:authorize="isAuthenticated()" type="hidden" value="loginTrue">

    <form class="loginform" id="loginForm" method="POST">
        <!--    <form id="loginForm" action="/main/login" class="loginform" method="POST">-->

        <div class="login_caption">LOGIN PAGE</div>
        <div class="login_content">
            <div class="login_inputs">


                <input name="loginId" placeholder="ID" type="text">
                <input name="password" placeholder="PW" type="password">
            </div>
            <div class="loginbtn_box">
                <input type="submit" value="LOGIN">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            </div>
        </div>
        <div class="login_bottom">
            <a href="#" th:href="@{/main/join}">회원가입</a>
            <i>/</i>
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=5aa9b77cb80c98f7948b0254eacdf119&redirect_uri=http://localhost:8080/auth/kakao/login_proc&response_type=code">카카오로그인</a>
            <i>/</i>
            <a href="#" onclick="openFindIdPopup();">아이디 찾기</a>
            <i>/</i>
            <a href="#" onclick="openResetPasswordPopup();">비밀번호 찾기</a>
        </div>
    </form>
</section>

<div id="findIdPopup"
     style="display: none; position: fixed; top: 25%; left: 35%; width: 30%; background-color: white; border: 1px solid black; padding: 20px; border-radius: 10px; z-index: 100;">
    <h2>아이디 찾기</h2>
    <label for="name">이름:</label>
    <input id="name" required type="text"><br>
    <label for="phoneNum">전화번호:</label>
    <input id="phoneNum" required type="text"><br>
    <button onclick="findId();">확인</button>
    <button onclick="closeFindIdPopup();">취소</button>
</div>

<div id="reset-password-popup" style="display:none;">
    <h3>비밀번호 재설정</h3>
    <form id="reset-password-form">
        <label for="resetUserId">아이디:</label>
        <input id="resetUserId" name="userId" required type="text">
        <br>
        <label for="resetName">이름:</label>
        <input id="resetName" name="name" required type="text">
        <br>
        <label for="resetPhoneNum">전화번호:</label>
        <input id="resetPhoneNum" name="phoneNum" required type="text">
        <br>
        <label for="newPassword">새 비밀번호:</label>
        <input id="newPassword" name="newPassword" required type="password">
        <br>
        <label for="confirmPassword">비밀번호 확인:</label>
        <input id="confirmPassword" name="confirmPassword" required type="password">
        <br>
        <input type="submit" value="비밀번호 변경">
    </form>
</div>

<!--nav-->
<nav th:replace="main/layout/nav :: main_navFragment">
</nav>

<script>
    $(function () {
        // 아래의 코드는 로그인 페이지에 로그인 되어있을 때 메인으로 이동하도록 하는 코드입니다.
        if ($('[sec\\:authorize="isAuthenticated()"]').length > 0) {
            location.href = '/main/index';
        }
    })
</script>

<!--footer-->
<footer th:replace="main/layout/footer :: main_footerFragment">
</footer>
</body>
</html>